In [1]:
import pandas as pd
import pm4py

In [12]:
df = pd.read_csv('sample-data\data\Sample_Game_1\Sample_Game_1_RawEventsData.csv')

In [13]:
df['event_id'] = df.index.astype(str)
df['activity'] = df['Type'] #+ df['Subtype'].fillna('').apply(lambda s: f' - {s}' if s else '')
df['timestamp'] = pd.to_datetime(df['Start Time [s]'], unit='s', origin='unix')
df['attribute:duration'] = df['End Time [s]'] - df['Start Time [s]']

#df.rename(columns={
#    'event_id': 'ocel:eid',
#    'activity': 'ocel:activity',
#    'timestamp': 'ocel:timestamp',
#    'From': 'ocel:type:from',
#    'To': 'ocel:type:to',
#    'Subtype': 'ocel:subtype',
#    'Start X': 'ocel:location:start_x',
#    'Start Y': 'ocel:location:start_y',
#    'End X': 'ocel:location:end_x',
#    'End Y': 'ocel:location:end_y'
#}, inplace=True)

df.rename(columns={
    'event_id': 'case:concept:name',
    'activity': 'concept:name',
    'timestamp': 'time:timestamp',
    'From': 'ocel:type:from',
    'To': 'ocel:type:to',
    'Subtype': 'attribute:subtype',
    'Start X': 'attribute:start_x',
    'Start Y': 'attribute:start_y',
    'End X': 'attribute:end_x',
    'End Y': 'attribute:end_y'
}, inplace=True)
df
#df.to_csv('sample-data\data\Sample_Game_1\Sample_Game_1_RawEventsData_ocel.csv', index=False)

,Team,Type,attribute:subtype,Period,Start Frame,Start Time [s],End Frame,End Time [s],ocel:type:from,ocel:type:to,attribute:start_x,attribute:start_y,attribute:end_x,attribute:end_y,case:concept:name,concept:name,time:timestamp,attribute:duration
0,Away,SET PIECE,KICK OFF,1,1,0.04,0,0.00,Player19,NaN,NaN,NaN,NaN,NaN,0,SET PIECE,1970-01-01 00:00:00.040,-0.04
1,Away,PASS,NaN,1,1,0.04,3,0.12,Player19,Player21,0.45,0.39,0.55,0.43,1,PASS,1970-01-01 00:00:00.040,0.08
2,Away,PASS,NaN,1,3,0.12,17,0.68,Player21,Player15,0.55,0.43,0.58,0.21,2,PASS,1970-01-01 00:00:00.120,0.56
3,Away,PASS,NaN,1,45,1.80,61,2.44,Player15,Player19,0.55,0.19,0.45,0.31,3,PASS,1970-01-01 00:00:01.800,0.64
4,Away,PASS,NaN,1,77,3.08,96,3.84,Player19,Player21,0.45,0.32,0.49,0.47,4,PASS,1970-01-01 00:00:03.080,0.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1740,Home,PASS,NaN,2,143361,5734.44,143483,5739.32,Player12,Player13,0.60,0.33,0.19,0.95,1740,PASS,1970-01-01 01:35:34.440,4.88
1741,Home,PASS,NaN,2,143578,5743.12,143593,5743.72,Player13,Player4,0.09,0.88,0.14,0.69,1741,PASS,1970-01-01 01:35:43.120,0.60
1742,Home,BALL LOST,INTERCEPTION,2,143598,5743.92,143618,5744.72,Player4,NaN,0.13,0.69,0.07,0.61,1742,BALL LOST,1970-01-01 01:35:43.920,0.80
1743,Away,RECOVERY,BLOCKED,2,143617,5744.68,143617,5744.68,Player16,NaN,0.05,0.62,NaN,NaN,1743,RECOVERY,1970-01-01 01:35:44.680,0.00
1744,Away,BALL OUT,NaN,2,143622,5744.88,143630,5745.20,Player16,NaN,0.05,0.63,0.03,1.01,1744,BALL OUT,1970-01-01 01:35:44.880,0.32

In [14]:
from pm4py.objects.ocel.util.log_ocel import from_traditional_pandas as pd_to_ocel

In [15]:
parameters = {
    "activity_key": "concept:name",
    "timestamp_key": "time:timestamp",
    "case_id_key": "case:concept:name",
    "target_object_type": "Team",
    "case_attribute_prefix": "attribute:"
}

ocel=pd_to_ocel(df, parameters=parameters)

c:\Users\Vito\Documents\pm\Soccer\.venv\lib\site-packages\pm4py\objects\ocel\util\log_ocel.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  relations[ocel_constants.DEFAULT_OBJECT_TYPE] = target_object_type

In [11]:
ocel.get_extended_table()

,ocel:eid,Type,Start Frame,attribute:end_x,End Frame,Team,ocel:type:from,ocel:activity,attribute:start_y,Start Time [s],ocel:type:to,ocel:timestamp,End Time [s],attribute:start_x,Period,attribute:subtype,attribute:end_y,ocel:type:Team
0,E0,SET PIECE,1,NaN,0,Away,Player19,SET PIECE,NaN,0.04,NaN,1970-01-01 00:00:00.040,0.00,NaN,1,KICK OFF,NaN,[0]
1,E1,PASS,1,0.55,3,Away,Player19,PASS,0.39,0.04,Player21,1970-01-01 00:00:00.040,0.12,0.45,1,NaN,0.43,[1]
2,E2,PASS,3,0.58,17,Away,Player21,PASS,0.43,0.12,Player15,1970-01-01 00:00:00.120,0.68,0.55,1,NaN,0.21,[2]
3,E3,PASS,45,0.45,61,Away,Player15,PASS,0.19,1.80,Player19,1970-01-01 00:00:01.800,2.44,0.55,1,NaN,0.31,[3]
4,E4,PASS,77,0.49,96,Away,Player19,PASS,0.32,3.08,Player21,1970-01-01 00:00:03.080,3.84,0.45,1,NaN,0.47,[4]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1740,E1740,PASS,143361,0.19,143483,Home,Player12,PASS,0.33,5734.44,Player13,1970-01-01 01:35:34.440,5739.32,0.60,2,NaN,0.95,[1740]
1741,E1741,PASS,143578,0.14,143593,Home,Player13,PASS,0.88,5743.12,Player4,1970-01-01 01:35:43.120,5743.72,0.09,2,NaN,0.69,[1741]
1742,E1742,BALL LOST,143598,0.07,143618,Home,Player4,BALL LOST,0.69,5743.92,NaN,1970-01-01 01:35:43.920,5744.72,0.13,2,INTERCEPTION,0.61,[1742]
1743,E1743,RECOVERY,143617,NaN,143617,Away,Player16,RECOVERY,0.62,5744.68,NaN,1970-01-01 01:35:44.680,5744.68,0.05,2,BLOCKED,NaN,[1743]
1744,E1744,BALL OUT,143622,0.03,143630,Away,Player16,BALL OUT,0.63,5744.88,NaN,1970-01-01 01:35:44.880,5745.20,0.05,2,NaN,1.01,[1744]

In [ ]:
from ocpa.objects.log.importer.csv import factory as ocel_import_factory
filename = "sample-data\data\Sample_Game_1\Sample_Game_1_RawEventsData.csv"
object_types = ["From", "To"]
parameters = {"obj_names":object_types,
              "val_names":[],
              "act_name":"Type",
              "time_name":"Start Time [s]",
              "sep":","}
ocel = ocel_import_factory.apply(file_path= filename,parameters = parameters)

KeyError: 'sep'

In [4]:
df_log = pm4py.format_dataframe(df)

Exception: case:concept:name column (case ID) is not in the dataframe!

In [ ]:
import pandas as pd
#from pm4py.objects.ocel.importer.importer import apply as import_ocel
from pm4py.objects.ocel.obj import OCEL
import uuid
from datetime import datetime, timedelta



# --- Create OCEL Relations Table ---
relations = []

for idx, row in df.iterrows():
    eid = str(row['event_id'])
    for col in ['From', 'To']:
        if pd.notna(row[col]):
            relations.append({
                "ocel:eid": eid,
                "ocel:oid": row[col],
                "ocel:otype": "player"
            })

relations_df = pd.DataFrame(relations)

# --- Create OCEL Objects Table ---
player_ids = pd.unique(relations_df["ocel:oid"])
objects_df = pd.DataFrame({
    "ocel:oid": player_ids,
    "ocel:otype": ["player"] * len(player_ids)
})

# --- Create the OCEL ---
ocel = OCEL(events=events_df, objects=objects_df, relations=relations_df)

In [8]:
from pm4py.objects.ocel.util.flattening import flatten

# Flatten the OCEL using 'player' as the object type
df_flattened = flatten(ocel, ot='player')
from pm4py.algo.discovery.dfg import algorithm as dfg_discovery
from pm4py.visualization.dfg import visualizer as dfg_visualization

# Discover the DFG
dfg = dfg_discovery.apply(df_flattened)

# Visualize the DFG
gviz = dfg_visualization.apply(dfg)
dfg_visualization.view(gviz)

KeyError: 'ocel:type'

Signature:
pd_to_ocel(
    df: pandas.core.frame.DataFrame,
    parameters: Optional[Dict[Any, Any]] = None,
) -> pm4py.objects.ocel.obj.OCEL
Docstring:
Transforms a dataframe to an OCEL

Parameters
-----------------
df
    Pandas dataframe
parameters
    Parameters of the algorithm, including:
    - Parameters.TARGET_OBJECT_TYPE => the name of the object type to which the cases should be mapped
    - Parameters.ACTIVITY_KEY => the attribute to use as activity
    - Parameters.TIMESTAMP_KEY => the attribute to use as timestamp
    - Parameters.CASE_ID_KEY => the attribute to use as case identifier
    - Parameters.CASE_ATTRIBUTE_PREFIX => the prefix identifying the attributes at the case level

Returns
-----------------
ocel
    OCEL (equivalent to the provided event log)
File:      c:\users\vito\documents\pm\soccer\.venv\lib\site-packages\pm4py\objects\ocel\util\log_ocel.py
Type:      function